<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<form id="signup" name="signup" method="post" action="/signin">
    <table>
        <tr>
            <td><label for="email">Email Address</label></td>
            <td><input class="text" name="email" type="email" /></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password" /></td>
        </tr>
        <tr><td><input class="btn" type="submit" value="Sign In" /></td></tr>
    </table>
</form>
</body>
</html>